# Python version
python==3.12.6

# Core ML and math libraries
tensorflow==2.17.0
numpy==1.26.4
scipy==1.14.1

# Visualization
matplotlib==3.9.2
pillow==10.4.0

# Computer vision and hand tracking
opencv-python==4.10.0.84
mediapipe==0.10.14

# TensorFlow dependencies
protobuf==4.25.3
